@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  padding: 75px 0px;
}

.section_dark {
  background-color: #030303;
}

.header {
  background-color: #030303;
  height: 200px;
  padding: 75px 0px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 195px;
}

.header__logo img {
  display: block;
  width: 50px;
  margin-right: 20px;
}

.header__logo h1 {
  font-family: "Forum";
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.header nav {
  max-width: 720px;
}

.header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav .menu__item {
  padding: 0 35px 0 41px;
}

.header nav .menu__item:nth-child(1) {
  padding-left: 0;
  margin: 0;
}

.header nav .menu__item:last-child {
  padding-right: 0;
  margin: 0;
}

.header nav .menu__item a {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
}

.header nav .menu__item a:hover {
  color: #9D8665;
}

main .welcome {
  padding-top: 115px;
  height: 750px;
}

main .welcome__container {
  height: 100%;
  background: url("../assets/img/background.jpg") no-repeat;
  background-position: right bottom;
}

main .welcome__container .container {
  position: relative;
  height: 100%;
  z-index: 1;
}

main .welcome__title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}

main .welcome__descr {
  margin-bottom: 76px;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 28px;
  letter-spacing: 2px;
  color: #fff;
}

main .welcome__btn {
  width: 360px;
  height: 75px;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
  background-color: #710707;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

main .welcome__btn:hover {
  background-color: #9D8665;
}

main .visiting {
  min-height: 1265px;
}

main .visiting__title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
  margin-bottom: 25px;
}

main .visiting .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .visiting .cards .card {
  display: block;
  height: 420px;
  width: 440px;
  margin-bottom: 75px;
}

main .visiting .cards .card img {
  display: block;
  width: 440px;
  height: 285px;
  margin-bottom: 25px;
}

main .visiting .cards .card__title {
  margin: 0;
  font-family: "Forum";
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

main .visiting .cards .card__descr {
  margin: 0;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
}

main .visiting .cards .card__descr span {
  font-weight: 200;
  font-size: 18px;
}

main .explore {
  min-height: 865px;
  position: relative;
}

main .explore .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .explore__descr h3 {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 103px;
}

main .explore__descr h3::after {
  content: '';
  position: absolute;
  top: 190px;
  display: block;
  height: 3px;
  width: 660px;
  background-color: #710707;
}

main .explore__descr p {
  font-family: "Roboto";
  width: 660px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #fff;
}

main .explore__descr p span {
  color: #9D8665;
}

main .explore__bg img {
  display: block;
  min-width: 720px;
  margin-top: 15px;
}

main .video {
  min-height: 1010px;
  padding-top: 90px;
}

main .video__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 630px;
  background: center/contain url("../assets/img/video.jpg") no-repeat;
}

main .video__player .play {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

main .video__player .play:hover {
  opacity: 0.8;
}

main .video__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
  padding: 25px 41px 24px 41px;
  background-color: #030303;
  margin-bottom: 40px;
}

main .video__panel .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
}

main .video__panel .rewind-bar {
  background: -webkit-gradient(linear, left top, right top, from(#24809E), color-stop(50%, #24809E), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #fff 40%, #fff 100%);
  height: 8px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  width: 820px;
}

main .video__panel .rewind-bar::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background-color: #fff;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

main .video__panel .rewind-bar::-webkit-slider-thumb:hover {
  cursor: pointer;
  background-color: #989898;
}

main .video__panel .sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 215px;
}

main .video__panel .sound__bar {
  background: -webkit-gradient(linear, left top, right top, from(#24809E), color-stop(50%, #24809E), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #fff 40%, #fff 100%);
  height: 8px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  width: 155px;
}

main .video__panel .sound__bar::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background-color: #fff;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

main .video__panel .sound__bar::-webkit-slider-thumb:hover {
  cursor: pointer;
  background-color: #989898;
}

main .video__panel button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  max-width: 100%;
  background-color: #ffffff00;
  cursor: pointer;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

main .video__panel button:hover {
  opacity: 0.6;
}

main .video__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .video__descr .title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

main .video__descr .text {
  font-family: "Roboto";
  max-width: 720px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

main .tickets {
  min-height: 890px;
}

main .tickets__title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}

main .tickets-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  color: #fff;
}

main .tickets-content img {
  padding-right: 60px;
}

main .tickets-content .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

main .tickets-content h4 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
}

main .tickets-content__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .tickets-content__type .container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin: 0;
  margin-bottom: 50px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
}

main .tickets-content__type .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

main .tickets-content__type .container input:checked ~ .checkmark:after {
  display: block;
}

main .tickets-content__type .container .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
}

main .tickets-content__type .container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

main .tickets-content__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 50px;
}

main .tickets-content__amount h4 {
  text-align: right;
}

main .tickets-content__amount .title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 25px;
  margin-bottom: 15px;
  font-weight: 300;
}

main .tickets-content__amount .basic {
  margin-bottom: 25px;
}

main .tickets-content__amount .senior {
  margin-bottom: 50px;
}

main .tickets-content__amount .basic, main .tickets-content__amount .senior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  border: 3px solid #fff;
}

main .tickets-content__amount .basic .number, main .tickets-content__amount .senior .number {
  all: unset;
  width: 30%;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

main .tickets-content__amount .basic button, main .tickets-content__amount .senior button {
  width: 44px;
  height: 44px;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background-color: #030303;
}

main .tickets-content__amount .total {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

main .tickets-content__amount .buy-btn {
  border: none;
  outline: none;
  width: 175px;
  height: 50px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

main .tickets-content__amount .buy-btn:hover {
  background-color: #9D8665;
}

main .contacts {
  min-height: 960px;
}

main .contacts__title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
  margin-bottom: 25px;
}

main .contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto";
}

main .contacts__content .descr h4 {
  margin: 0;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 28px;
}

main .contacts__content .descr .contact {
  margin: 0;
  padding: 0;
  list-style: none;
}

main .contacts__content .descr .contact__item {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 22px;
}

main .contacts__content .descr img {
  display: block;
}

.divider_big {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #710707;
  margin-bottom: 75px;
}

.divider_small {
  display: block;
  margin: 10px 0px;
  height: 3px;
  width: 300px;
  background-color: #710707;
}

@media (max-width: 1439px) {
  .explore .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */