@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap')

$dark_font: #000
$light_font: #fff
$hover_font: #9D8665
$red_color: #710707
$dark_color: #030303
$roboto_font: 'Roboto'
$forum_font: 'Forum'

@mixin logo
    display: flex
    align-items: center
    width: 195px
    svg
        display: block
        width: 50px
        margin-right: 20px
        transition: 0.5s fill

@mixin white_headres
    margin: 0
    font-family: $forum_font
    font-size: 80px
    letter-spacing: 5px
    text-transform: uppercase
    color: $light_font

@mixin gold_headres
    margin: 0
    font-family: $forum_font
    font-size: 80px
    letter-spacing: 5px
    text-transform: uppercase
    color: $hover_font

@mixin bar
    background: linear-gradient(to right, #24809E 0%, #24809E 47%, #fff 48%, #fff 100%)
    height: 8px
    outline: none
    transition: background 450ms ease-in
    -webkit-appearance: none

@mixin bar-slider
    width: 15px
    height: 15px
    border-radius: 50%
    -webkit-appearance: none
    cursor: ew-resize
    background-color: #fff
    transition: 0.5s background-color
    &:hover
        cursor: pointer
        background-color: #989898

html
    scroll-behavior: smooth

*
    box-sizing: border-box
    font-weight: 400

.container
    max-width: 1440px
    margin: 0 auto

.section
    padding: 75px 0px

.section_dark
    background-color: $dark_color

.header
    background-color: #030303
    min-height: 200px
    padding: 75px 0px
    .container
        display: flex
        justify-content: space-between
        align-items: center
        height: 50px
    &__logo
        cursor: pointer
        @include logo
        h1
            font-family: $forum_font
            font-size: 28px
            color: $light_font
            text-transform: uppercase
            letter-spacing: 5px
            transition: 0.5s all
        &:hover
            h1
                color: $hover_font
            svg
                fill: $hover_font
    nav
        max-width: 720px
        .menu
            display: flex
            justify-content: space-between
            align-items: center
            margin: 0
            padding: 0
            list-style: none
            &__item
                padding: 0 35px 0 41px
                &:nth-child(1)
                    padding-left: 0
                    margin: 0
                &:last-child
                    padding-right: 0
                    margin: 0
                a
                    font-family: $roboto_font
                    font-weight: 200
                    font-size: 22px
                    line-height: 50px
                    text-decoration: none
                    color: $light_font
                    letter-spacing: 2px
                    text-align: center
                    transition: 0.5s color
                    &:hover
                        color: $hover_font

main
    .welcome
        // padding-top: 115px
        height: 750px
        &__container
            margin: 0 auto
            width: 1900px
            height: 100%
            background: url("../assets/img/background.jpg") no-repeat
            // background-position: right bottom
            background-position: calc(100% + 8px) calc(100%);
            .container
                position: relative
                padding-top: 115px
                height: 100%
                z-index: 1
        &__title
            @include white_headres
            line-height: 90px
            margin-bottom: 26px
        &__descr
            margin-bottom: 76px
            font-family: $roboto_font
            font-weight: 200
            font-size: 28px
            letter-spacing: 2px
            color: $light_font
        &__btn
            width: 360px
            height: 75px
            font-family: $roboto_font
            font-weight: 200
            font-size: 22px
            letter-spacing: 2px
            color: $light_font
            background-color: #710707
            border-radius: 10px
            border: none
            outline: none
            transition: 0.5s all
            &:hover
                background-color: #9D8665
    .visiting
        min-height: 1265px
        &__title
            @include gold_headres
            margin-bottom: 25px
        .cards
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            .card
                display: block
                height: 420px
                width: 440px
                margin-bottom: 80px
                &:hover
                    .divider_small
                        background-color: $red_color
                        width: 300px
                img
                    display: block
                    width: 440px
                    height: 285px
                    margin-bottom: 25px
                &__title
                    margin: 0
                    font-family: $forum_font
                    font-size: 32px
                    letter-spacing: 5px
                    text-transform: uppercase
                &__descr
                    margin: 0
                    font-family: $roboto_font
                    font-weight: 200
                    font-size: 22px
                    line-height: 26px
                    span
                        display: block
                        margin-top: 10px
                        font-weight: 200
                        font-size: 18px
    .explore
        min-height: 865px
        position: relative
        .container
            display: flex
            justify-content: space-between
        &__descr
            h3
                @include white_headres
                margin-bottom: 103px
                &::after
                    content: ''
                    position: absolute
                    top: 190px
                    display: block
                    height: 3px
                    width: 660px
                    background-color: $red_color
            p
                margin-bottom: 25px
                font-family: $roboto_font
                width: 655px
                font-weight: 300
                font-size: 22px
                line-height: 38px
                color: #fff
                span
                    font-weight: 400
                    color: $hover_font
        &__bg
            img
                display: block
                min-width: 720px
                margin-top: 15px
    .video
        min-height: 1010px
        padding-top: 90px
        &__player
            display: flex
            justify-content: center
            align-items: center
            max-width: 100%
            height: 630px
            background: center / contain url("../assets/img/video.jpg") no-repeat
            .play
                margin: 0
                padding: 0
                border: none
                outline: none
                background-color: rgba(0,0,0,0)
                transition: 0.5s opacity
                &:hover
                    opacity: 0.8
        &__panel
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            height: 85px
            padding: 25px 41px 24px 41px
            background-color: #030303
            margin-bottom: 40px
            .control
                display: flex
                justify-content: space-between
                align-items: center
                width: 160px
            .rewind-bar
                @include bar
                width: 820px
                &::-webkit-slider-thumb
                    @include bar-slider
            .sound
                display: flex
                justify-content: space-between
                align-items: center
                align-items: center
                width: 215px
                &__bar
                    @include bar
                    width: 155px
                    &::-webkit-slider-thumb
                        @include bar-slider
            button
                margin: 0
                padding: 0
                border: none
                outline: none
                max-width: 100%
                background-color: #ffffff00
                cursor: pointer
                transition: 0.5s opacity
                &:hover
                    opacity: 0.6
        &__descr
            display: flex
            justify-content: space-between
            align-items: center
            .title
                @include gold_headres
            .text
                margin: 0
                font-family: $roboto_font
                max-width: 720px
                font-weight: 300
                font-size: 22px
                line-height: 38px
    .tickets
        min-height: 890px
        &__title
            @include white_headres
            margin-bottom: 25px
        &-content
            display: flex
            font-family: $roboto_font
            color: #fff
            img
                padding-right: 60px
            .flex-container
                display: flex
                justify-content: space-between
                width: 50%
            h4          
                margin: 0
                margin-bottom: 50px     
                font-family: $roboto_font 
                font-weight: 600
                font-size: 28px
                line-height: 33px
                color: #fff
            &__type
                display: flex
                flex-direction: column             
                .container 
                    display: block
                    position: relative
                    padding-left: 40px
                    margin: 0
                    margin-bottom: 50px
                    cursor: pointer
                    font-family: $roboto_font
                    font-weight: 300                    
                    font-size: 22px
                    line-height: 26px
                    color: #fff
                    input 
                        position: absolute
                        opacity: 0
                        cursor: pointer
                        &:checked ~ .checkmark:after 
                            display: block
                    .checkmark 
                        position: absolute
                        top: 5px
                        left: 0
                        height: 17px
                        width: 17px
                        border: 2px solid #fff
                        border-radius: 50%
                        &::after
                            content: ""
                            position: absolute
                            display: none
                            top: 3px
                            left: 3px
                            width: 7px
                            height: 7px
                            border-radius: 50%
                            background: white
            &__amount
                display: flex
                flex-direction: column
                align-items: flex-end                
                font-size: 22px
                font-weight: 300   
                color: #fff
                margin-bottom: 50px
                h4
                    margin: 0
                    margin-bottom: 10px
                    text-align: right
                .title
                    align-self: flex-start
                    margin-left: 25px
                    margin-bottom: 15px
                    font-weight: 300                
                .basic
                    margin-bottom: 35px
                .senior
                    margin-bottom: 50px
                .basic, .senior
                    display: flex
                    justify-content: space-between
                    width: 150px
                    border: 3px solid #fff
                    .number
                        all: unset
                        width: 30%
                        text-align: center                    
                        font-weight: 300
                        font-size: 22px
                        line-height: 26px
                    button
                        width: 44px
                        height: 44px 
                        font-size: 32px
                        line-height: 37px
                        text-align: center
                        color: #fff
                        border: none
                        outline: none
                        background-color: #030303
                        transition: 0.2s background-color
                        cursor: pointer
                        &:active
                            background-color: #9D8665
                .total
                    font-size: 28px
                    font-weight: bold
                    letter-spacing: 1.5px
                    margin-bottom: 50px
                .buy-btn
                    border: none
                    outline: none
                    width: 175px
                    height: 50px
                    letter-spacing: 2px
                    transition: 0.5s background-color
                    &:hover
                        background-color: #9D8665
    .contacts
        min-height: 960px
        &__title
            @include gold_headres
            margin-bottom: 25px
        &__content
            display: flex
            justify-content: space-between
            font-family: $roboto_font
            .descr
                h4
                    margin: 0
                    margin-top: 10px
                    margin-bottom: 37px
                    font-weight: bold
                    font-size: 28px
                .contact
                    margin: 0
                    padding: 0
                    list-style: none
                    &__item
                        margin-bottom: 23px
                        font-weight: 300
                        font-size: 22px
                        // line-height: 30px
                img
                    display: block

.footer
    min-height: 300px
    background-color: #030303
    padding: 75px 0px
    .container
        display: flex
        justify-content: space-between
    &__logo
        cursor: pointer
        @include logo
        height: 50px
        margin-right: 145px
        div
            font-family: $forum_font
            font-size: 28px
            color: $light_font
            text-transform: uppercase
            letter-spacing: 5px
            transition: 0.5s color
        &:hover
            div
                color: $hover_font
            svg
                fill: $hover_font
    &__menu
        display: flex
        align-items: flex-start        
        nav
            .menu
                min-width: 360px
                max-height: 150px
                display: flex
                flex-direction: column
                justify-content: space-between
                align-content: space-between
                flex-wrap: wrap
                margin: 0
                padding: 0
                list-style: none
                &__item
                             
                a
                    font-family: $roboto_font
                    font-weight: 200
                    font-size: 22px
                    text-decoration: none
                    color: $light_font
                    line-height: 50px
                    letter-spacing: 2px
                    text-align: center
                    transition: 0.5s color
                    &:hover
                        color: $hover_font
    .social
        display: flex
        justify-content: space-between
        margin: 0
        padding: 0
        margin-bottom: 15px
        align-self: flex-end
        &__item
            display: flex
            justify-content: center
            align-items: center
            height: 48px
            width: 48px
            margin-right: 25px
            border: 1px solid #666666
            border-radius: 50%
            cursor: pointer
            transition: 0.5 all
            svg
                transition: 0.5s all
            &:hover
                border: 1px solid $hover_font
                svg
                    fill: $hover_font
            &:last-child
                margin: 0
    
.divider_big
    display: block
    height: 3px
    width: 100%
    background-color: $red_color
    margin-bottom: 75px

.divider_small
    margin: 10px 0px
    height: 3px
    width: 0px
    background-color: white
    transition: 0.5s all

@media (max-width: 1439px)
    .explore
        .container
            flex-direction: column
            align-items: center